
<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <!-- show form -->
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow">
        <div class="card-body">
          <div>
            <input type="file" class="text-nowrap text-truncate file" (change)="selectFile($event)">
            <button mat-raised-button color="warn" [disabled]="!selectedFiles" (click)="uploadFile()">Upload</button>
          </div>

          <div class="progress mt-2">
            <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
          </div>
        </div>
      </div>
    </div>

   
  </div>
</div>
